@import './Variables',
'./Sheets/Footer',
'./Sheets/Header',
'./Components/Aside',
'./Components/Chat',
'./Components/MainComponent',
'./Mixins',
'./Reset';
$color-dark-bg: #1c1c1c;
$color-light-bg: #ffffff;
$color-dark-text: #ffffff;
$color-light-text: #000000;



.rotate {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.aside {

    border-radius: 1rem;

    &__item {}
}

